<h2>User info</h2>

<h2>New book</h2>

<%= form_with model: @book, url:'/books', local:true do |f| %>
  <div class="form-group">
    <label for="book_title">Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <label for="book_opinion">Opinion</label>
    <%= f.text_area :opinion %>
  </div>
  <div class="form-group">
    <%= f.submit 'Create Book' %>
  </div>
<% end %>
